<%- include('layout/header') %>

<div class = "container mt-4">
    <h3>Tired of having to remember what workout you did yesterday?</h3>
    &emsp;
    <h3>Want an easier way to reach progressive overload?</h3>
    &emsp;
    &emsp;
    <h1>USE MY WORKOUT TRACKER!</h1>
    &emsp;
    &emsp;
    <p>
        To get started, click on "Add Workout" on the navigation bar to add to the list of exercises 
        you would like to record, allowing you to monitor and regulate your workouts. <br><br>If you want to
         view all the workouts you have recorded, simply click on "Workout Tracker", which can also 
        be located in the navigation bar!
    </p>
</div>

<%- include('layout/footer') %>